footer.footer.bg--dark-blue
   section.container.container--narrow.margin--c
      section.footer__wrap.display--fl.fl--just-b.fl--align-c
         article.copyright
            span.copyright__text.copyright__text--copy.font--open-sans-r.text--extrasmall.color--cloudy-gray.ls--005em &copy; 2016 
            span.copyright__text.font--open-sans-r.text--extrasmall.color--cloudy-gray.ls--005em Fapor by Respotheme
         article.social.display--fl.fl--align-c
            a.btn.btn--icon-footer.wrap--icon-fb.display--fl.fl--align-c.fl--just-c.border--cloudy-gray(href="#")
               svg.icon.icon--facebook
                  use(xlink:href="#facebook")
            a.btn.btn--icon-footer.display--fl.fl--align-c.fl--just-c.border--cloudy-gray(href="#")
               svg.icon.icon--twitter
                  use(xlink:href="#twitter")
            a.btn.btn--icon-footer.display--fl.fl--align-c.fl--just-c.border--cloudy-gray(href="#")
               svg.icon.icon--google
                  use(xlink:href="#google")
            a.btn.btn--icon-footer.btn--icon-ball.display--fl.fl--align-c.fl--just-c.border--cloudy-gray(href="#")
               img.icon.icon--ball(src="../img/ball.png" alt="icon ball")
