.btn {
    &--manag {
        max-width: 164px;
        padding: 13px 25px;
        transition: background .35s ease-in, color .35s ease-in;

        @media screen and (max-width: 1365px) {
            max-width: 140px;
            padding: 11px 22px;
        }

        @media screen and (max-width: 1023px) {
            max-width: 130px;
            padding: 10px 20px;
        }

        @media screen and (max-width: 767px) {
            max-width: 120px;
            padding: 8px 15px;
        }

        &:hover {
            background: $darkBlue;
            color: $white;
        }
    }

    &--icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        @media screen and (max-width: 1365px) {
            width: 30px;
            height: 30px;
        }

        @media screen and (max-width: 1023px) {
            width: 26px;
            height: 26px;
        }

        &-item {
            background: $lightGray;
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-footer {
            margin-right: 11px;

            @media screen and (max-width: 1023px) {
                margin-right: 9px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-fb {
            margin-right: 8px;
        }

        &-ball {
            background: $dimGold;
        }

        &:hover {
            .icon {
                transition: fill .5s ease-in;

                &--facebook {
                    fill: $deepBlue;
                }

                &--twitter {
                    fill: $turquoise;
                }

                &--google {
                    fill: $dimRed;
                }
            }
        }
    }

    &--subscribe {
        width: 100%;
        background: $dimGold;
        padding: 7px 43px 7px 50px;
    }

    &--menu {
        display: none;

        @media screen and (max-width: 579px) {
            display: flex;
            align-items: center;
        }
    }
}
