.btn {
    &--manag {
        max-width: 164px;
        padding: 13px 25px;
        transition: background .35s ease-in, color .35s ease-in;

        @media screen and (max-width: 1365px) {
            max-width: 140px;
            padding: 11px 22px;
        }

        &:hover {
            background: $darkBlue;
            color: $white;
        }
    }

    &--icon {
        &-item {
            width: 34px;
            height: 34px;
            background: $lightGray;
            border-radius: 50%;
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: 1365px) {
                width: 30px;
                height: 30px;
            }
        }

        &-footer {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            margin-right: 11px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-fb {
            margin-right: 8px;
        }

        &-ball {
            background: $dimGold;
        }

        &:hover {
            .icon {
                transition: fill .5s ease-in;

                &--facebook {
                    fill: $deepBlue;
                }

                &--twitter {
                    fill: $turquoise;
                }

                &--google {
                    fill: $dimRed;
                }
            }
        }
    }

    &--subscribe {
        width: 100%;
        background: $dimGold;
        padding: 7px 43px 7px 50px;
    }
}
