.container {
    &--wide {
        width: 1356px;

        @media screen and (max-width: 1599px) {
            width: 1315px;
            padding: 0 30px;
        }

        @media screen and (max-width: 1365px) {
            width: 1024px;
        }

        @media screen and (max-width: 1023px) {
            width: 730px;
            padding: 0 15px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &--narrow {
        width: 1124px;

        @media screen and (max-width: 1365px) {
            width: 1024px;
            padding: 0 30px;
        }

        @media screen and (max-width: 1023px) {
            width: 730px;
            padding: 0 15px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}
