.icon {
    position: relative;

    &--facebook {
        width: 9px;
        height: 18px;
        fill: $white;
    }

    &--twitter {
        height: 12px;
        width: 15px;
        fill: $white;
    }

    &--google {
        height: 14px;
        width: 21px;
        fill: $white;
    }

    &--arrow {
        height: 17px;
        width: 10px;
        fill: $darkBlue
    }

    &--ball {
        width: 15px;
        height: 14px;
    }
}
