.image {
    &--item {
        margin-bottom: 22px;
    }

    &--review {
        width: 90px;
        height: 90px;
        margin-bottom: 31px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 25px;
        }
    }
}
