.item {
    width: 311px;

    @media screen and (max-width: 1365px) {
        width: 280px;
    }

    &:nth-child(2) {
        margin-left: 12px;
    }

    &__data {
        padding: 0 8px 0 12px;
    }
}
