.nav {
    &__li {
        margin-right: 65px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        &--active {
            &:before {
                content: '';
                position: absolute;
                bottom: -38px;
                left: 50%;
                height: 2px;
                width: 79px;
                transform: translateX(-50%);
                background: $dimGold;
            }
        }
    }
}
