.section-title {
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -26px;
        height: 2px;
        width: 79px;
        transform: translateX(-50%);
        background: $dimGold;

        @media screen and (max-width: 1365px) {
            bottom: -20px;
        }

        @media screen and (max-width: 1023px) {
            bottom: -15px;
        }
    }
}
