.slider {
    padding-top: 30px;
    overflow: hidden;

    @media screen and (max-width: 1365px) {
        padding-top: 25px;
    }

    @media screen and (max-width: 1023px) {
        padding-top: 15px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 10px;
    }

    &__descrip {
        max-width: 870px;
        margin-bottom: 36px;

        @media screen and (max-width: 1365px) {
            max-width: 720px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 1023px) {
            max-width: 580px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 767px) {
            max-width: 480px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 579px) {
            width: 80%;
        }
    }

    &__name {
        margin-bottom: 6px;

        @media screen and (max-width: 1023px) {
            margin-bottom: 3px;
        }
    }

    &__control {
        width: 100%;
        top: 90px;
        left: 0;

        @media screen and (max-width: 767px) {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__arrow {
        &--prev {
            transform: rotate(180deg);
        }
    }
}
