.slider {
    padding-top: 30px;

    @media screen and (max-width: 1365px) {
        padding-top: 25px;
    }

    &__descrip {
        max-width: 870px;
        margin-bottom: 36px;

        @media screen and (max-width: 1365px) {
            max-width: 720px;
            margin-bottom: 30px;
        }
    }

    &__name {
        margin-bottom: 6px;
    }

    &__control {
        width: 100%;
        top: 90px;
        left: 0;
    }

    &__arrow {
        &--prev {
            transform: rotate(180deg);
        }
    }
}
