extends layout/layout

block title
   title Fapor
   
block content
   article.wrapper.display--fl.fl--col-nowr
      include includes/header.pug
         
      main.content
         article.title-page.bg--title-sec
            section.container.container--wide.margin--c
               section.title-page__wrap
                  h1.title-page__title.font--raleway-b.font--upper.color--white.title--large.ls--015em More About US
                  p.title-page__subtitle.font--open-sans-r.color--white.text--small.ls--025em We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.
