.border {
    &--dark-blue {
        border: 1px solid $darkBlue;
    }

    &--cloudy-gray {
        border: 1px solid $cloudyGray;
    }

    &--rad-25 {
        border-radius: 25px;
    }

    &--circle {
        border-radius: 50%;
    }
}
