.color {
    &--white {
        color: $white;
    }

    &--dark-blue {
        color: $darkBlue;
    }

    &--near-black {
        color: $nearBlack;
    }

    &--dim-gold {
        color: $dimGold;
    }

    &--black {
        color: $black;
    }
}
