.indent {
    &--page-title {
        margin-bottom: 149px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 120px;
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 90px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }

        @media screen and (max-width: 579px) {
            margin-bottom: 50px;
        }
    }

    &--sec-title {
        margin-bottom: 60px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 40px;
        }

        &-review {
            margin-right: 6px;

            @media screen and (max-width: 1365px) {
                margin-right: 0;
            }
        }
    }

    &--manag {
        margin-bottom: 38px;

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 579px) {
            margin-bottom: 10px;
        }
    }
}
