.indent {
    &--page-title {
        margin-bottom: 149px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 120px;
        }
    }

    &--sec-title {
        margin-bottom: 60px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 50px;
        }

        &-review {
            margin-right: 6px;
        }
    }

    &--manag {
        margin-bottom: 38px;
    }
}
