.indent {
    &--page-title {
        margin-bottom: 149px;
    }

    &--sec-title {
        margin-bottom: 60px;

        &-review {
            margin-right: 6px;
        }
    }

    &--manag {
        margin-bottom: 38px;
    }
}
