.ls {
    &--015em {
        letter-spacing: .015em;
    }

    &--025em {
        letter-spacing: .025em;
    }

    &--005em {
        letter-spacing: .05em;
    }

    &--m-005em {
        letter-spacing: -.05em;
    }
}
