$darkBlue: #24282f;
$white: #fff;
$dimGold: #b5a263;
$nearBlack: #232323;
$lightGray: #dedede;
$dimWhite: #f7f7f7;
$black: #000;
$dimRed: #D54B3F;
$turquoise: #03a9f4;
$deepBlue: 295093;
$darkGray: #2b2f35;
$cloudyGray: #6e7279;
